
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="jumbotron">
    <h1>GPS Nav Sys for Addis Ababa</h1>
    <img width="1000" src="~/images/aaa.PNG" />
</div>


@*<div class="row">
    <div class="col-md-4">
        <h3 >Manage Stations</h3>
        <p><a class="btn btn-info" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
        <p>@Html.ActionLink("Manage Stations", "Index", "Destinations", new { area = "" }, new { @class = "btn btn-info" })</p>
    </div>
    
    <div class="col-md-4">
        <h3>Manage House Addressing</h3>
        <p><a class="btn btn-warning" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Manage Traffic Sign</h3>
        <p><a class="btn btn-info" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>*@

