
@*@Html.ActionLink("Add New User", "Create", "Users", new { area = "" }, new { @class = "btn btn-primary btn-lg btn-block" })
@Html.ActionLink("Edit a User", "Edit", "Users", new { area = "" }, new { @class = "btn btn-success btn-lg btn-block" })
@Html.ActionLink("Delete a User", "Delete", "Users", new { area = "" }, new { @class = "btn btn-danger btn-lg btn-block" })*@
@*<span class="glyphicon glyphicon-star"></span>*@